DISCORD_TOKEN=put_discord_bot_token_here
DISCORD_PUBLIC_KEY=3d073f5be99498a91f0962cb715f56ad8e915bd2e9f58739e3bf6482093ef469
DISCORD_APPLICATION_ID=947389898531430421
REQUEST_CHANNEL=1507608145021632542
MOD_LOG_CHANNEL=1507761568891404308
GEN_LOG_CHANNEL=
GEN_COMMAND_CHANNEL=
GAMES_ADDED_CHANNEL=1508749560669933648
CHAT_UPLOAD_MAX_BYTES=95000000
DATABASE_1_URL=https://raw.githubusercontent.com/BlissBlender/Colorado-State-RP-Database/main/database-1/
DATABASE_2_URL=https://raw.githubusercontent.com/BlissBlender/Colorado-State-RP-Database/main/database-2/
GAMEGEN_API_URL=https://gamegen.lol/api/mg_cca51ec305a5494a946454fcc21cf1c3/generate/
GITHUB_TOKEN=put_github_token_here
